{%extends 'bootstrap/base.html' %}

{%block title%}
  My Project
{%endblock%}


{%block navbar%}
<div class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('posts')}}" >Posts</a></li>
    {%if current_user.is_anonymous %}
      <li><a href="{{url_for('login')}}" >Login</a></li>
      <li><a href="{{url_for('register')}}" >Register</a></li>
    {%else %}
      <li><a href="{{url_for('logout')}}" >Logout</a></li>
    {%endif%}
  </ul>
</div>
{%endblock%}

{%block content%}
  {% with messages = get_flashed_messages()%}
    {%if messages%}
      <ul>
      {%for message in messages%}
        <li>{{message}}</li>
      {%endfor%}
      </ul>
    {%endif%}
  {%endwith%}
  {%block app_content%}
  {%endblock%}
{%endblock%}

{%block styles%}
  {{ super() }}
  <!-- grabs all the block stylings from bootstrap (it's a jinja thing) -->
  <link rel="stylesheet" href="../static/css/main.css">
{%endblock%}
